{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div id="all-cards" class="grid"></div>
<!-- <div class="grid">
  <!-- Mount Balloonicorn's card on to this element. -->
  <!-- <div id="Balloonicorn"></div> -->

  <!-- Mount Float's card on to this element. -->
  <!-- <div id="Float"></div> -->

  <!-- Mount Llambda's card on to this element. -->
  <!-- <div id="Llambda"></div> -->

  <!-- Mount Merge's card on to this element -->
  <!-- <div id="Merge"></div> -->

  <!-- Mount Short Stack's card on to this element -->
  <!-- <div id="Short Stack Overflow"></div> -->
<!-- </div> --> 

{% endblock %}